/* ============================
   🌐 Estilo Global e Reset
=============================== */
body {
    background-color: var(--color-bg-cream);
    padding-top: 90px;
  }
  
  html, body {
    overflow-x: hidden;
  }
  
  .modal-dialog-centered {
    margin: auto;
  }
 
